
p{
/* content */
width: 50%;
/*border*/
border: 2px solid blue;

/*padding*/
/* padding:20px; */
/* padding-left: 40px; */
padding: 20px 200px 50px 100px;
/*margin*/
/* margin:100px; top right bottom left */
/* margin: 30px 0px 30px 30px; */
margin : 10px auto;
}